/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  width: 8px;
  margin: 1px;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

body {
  margin: 0px;
  background-color: #000d18;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

nav {
  display: flex;
  width: 100%;
  border-bottom: rgba(255, 255, 255, 0.2);
}
nav .nav-section {
  padding: 2rem 2rem;
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  align-items: center;
}
nav #logo-section {
  flex-grow: 1;
  justify-content: left;
}
nav #logo-section img {
  height: 3rem;
  width: auto;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  filter: drop-shadow(3px 3px 4px black);
}
nav #socials-section {
  gap: 1rem;
  flex-grow: 5;
  justify-content: right;
}
nav #socials-section img,
nav #socials-section svg {
  height: 1.25rem;
  width: auto;
  position: relative;
  filter: drop-shadow(1px 1px 2px black);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}
nav #socials-section a {
  color: white;
  position: relative;
  padding: 8px 25px;
  border-radius: 20px;
  z-index: 2;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, filter 0.5s ease-in-out;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}
nav #socials-section a#coffee > img {
  filter: contrast(0) brightness(100) drop-shadow(1px 1px 2px black);
}
nav #socials-section a#curseforge > img {
  filter: contrast(0) brightness(100) drop-shadow(1px 1px 2px black);
}
nav #socials-section a#modrinth > img {
  filter: contrast(0) brightness(100) drop-shadow(1px 1px 2px black);
}
nav #socials-section a:hover#twitter {
  background-color: rgba(29, 161, 242, 0.2);
  color: #1da1f2;
  filter: drop-shadow(0px 0px 3px #1da1f2);
}
nav #socials-section a:hover#youtube {
  background-color: rgba(255, 0, 0, 0.2);
  color: #ff0000;
  filter: drop-shadow(0px 0px 3px #ff0000);
}
nav #socials-section a:hover#twitch {
  background-color: rgba(145, 70, 255, 0.2);
  color: #9146ff;
  filter: drop-shadow(0px 0px 3px #9146ff);
}
nav #socials-section a:hover#github {
  background-color: rgba(128, 128, 128, 0.2);
  color: #fff;
  filter: drop-shadow(0px 0px 3px #fff);
}
nav #socials-section a:hover#coffee {
  background-color: rgba(255, 221, 0, 0.2);
  filter: drop-shadow(0px 0px 3px);
}
nav #socials-section a:hover#coffee > img {
  filter: drop-shadow(1px 1px 40px #ffdd00);
}
nav #socials-section a:hover#curseforge {
  background-color: rgba(255, 165, 0, 0.2);
  filter: drop-shadow(0px 0px 3px orange);
}
nav #socials-section a:hover#modrinth {
  background-color: rgba(27, 217, 106, 0.2);
  filter: drop-shadow(0px 0px 3px #1bd96a);
}
nav #socials-section a:hover#modrinth > img {
  filter: drop-shadow(1px 1px 2px black);
}

main {
  height: fit-content;
  box-sizing: border-box;
  padding: 4rem;
}
main a {
  text-decoration: none;
}
main #cards {
  display: flex;
  max-width: 100vw;
  width: 100%;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}
main #cards .card-container {
  transition: 0.25s transform;
  height: 385px;
  width: 275px;
  border-radius: 10px;
  margin: 0;
  position: relative;
  filter: drop-shadow(10px 10px 7px black);
}
main #cards .card-container:hover {
  transform: scale(105%);
}
main #cards .card {
  border-radius: 10px;
  cursor: pointer;
  height: 385px;
  width: 275px;
  transition: none;
  position: relative;
  margin: 0;
}
main #cards .card#valorant {
  background: rgb(144, 21, 21);
  background: linear-gradient(135deg, rgb(144, 21, 21) 0%, rgb(129, 21, 21) 25%, rgb(87, 9, 9) 49%, rgb(110, 11, 11) 72%, rgb(162, 37, 37) 100%);
}
main #cards .card#wordle {
  background: rgb(222, 199, 86);
  background: linear-gradient(135deg, rgb(222, 199, 86) 0%, rgb(99, 181, 86) 100%);
}
main #cards .card#timer {
  background: rgb(30, 150, 231);
  background: linear-gradient(90deg, rgb(30, 150, 231) 0%, rgb(0, 76, 139) 100%);
}
main #cards .card#meter, main #cards .card#minesweeper {
  background: rgb(37, 37, 37);
  background: linear-gradient(135deg, rgb(37, 37, 37) 0%, rgb(60, 60, 60) 100%);
}
main #cards .card#nether-coords {
  background: rgb(14, 76, 199);
  background: linear-gradient(135deg, rgb(14, 76, 199) 0%, rgb(79, 71, 179) 25%, rgb(97, 56, 142) 50%, rgb(184, 63, 198) 75%, rgb(219, 11, 195) 100%);
}
main #cards .card#advent-calendar {
  background: rgb(13, 120, 0);
  background: linear-gradient(135deg, rgb(13, 120, 0) 0%, rgb(58, 77, 107) 51%, rgb(124, 0, 0) 100%);
}
main #cards .card .card-inner {
  background-color: black;
  border-radius: inherit;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  margin: 1px;
  top: 1px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
}
main #cards .card .card-inner .card-img {
  height: 100%;
  width: auto;
  filter: opacity(0.7);
  position: absolute;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}
main #cards .card .card-inner h1 {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Rubik";
  z-index: 3;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

@media screen and (max-width: 720px) {
  nav .nav-section {
    padding: 1rem;
  }
  nav #logo-section {
    flex-grow: 0;
  }
  nav #socials-section {
    gap: 0.7rem;
    padding: 0;
    justify-content: center;
  }
  nav #socials-section a {
    padding: 0.5rem;
  }
  nav #socials-section a#twitter {
    background-color: rgba(29, 161, 242, 0.2);
    color: #1da1f2;
    filter: drop-shadow(0px 0px 3px #1da1f2);
  }
  nav #socials-section a#youtube {
    background-color: rgba(255, 0, 0, 0.2);
    color: #ff0000;
    filter: drop-shadow(0px 0px 3px #ff0000);
  }
  nav #socials-section a#twitch {
    background-color: rgba(145, 70, 255, 0.2);
    color: #9146ff;
    filter: drop-shadow(0px 0px 3px #9146ff);
  }
  nav #socials-section a#github {
    background-color: rgba(128, 128, 128, 0.2);
    color: #fff;
    filter: drop-shadow(0px 0px 3px #fff);
  }
  nav #socials-section a#coffee {
    background-color: rgba(255, 221, 0, 0.2);
    filter: drop-shadow(0px 0px 3px);
  }
  nav #socials-section a#coffee > img {
    filter: drop-shadow(1px 1px 40px #ffdd00);
  }
  nav #socials-section a#curseforge {
    background-color: rgba(255, 165, 0, 0.2);
    filter: drop-shadow(0px 0px 3px orange);
  }
  nav #socials-section a#modrinth {
    background-color: rgba(27, 217, 106, 0.2);
    filter: drop-shadow(0px 0px 3px #1bd96a);
  }
  nav #socials-section a#modrinth > img {
    filter: drop-shadow(1px 1px 2px black);
  }
  nav #socials-section a:last-child {
    margin-right: 0.5rem;
  }
  main #cards .card-container:last-child {
    margin-bottom: 3rem;
  }
  main #cards .minesweeper {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
