// Variables
$bg-color: #000d18;

@mixin noDrag {
   user-drag: none;
   -webkit-user-drag: none;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   -webkit-touch-callout: none;
}

@mixin noSelect {
   user-select: none;
   /* supported by Chrome and Opera */
   -webkit-user-select: none;
   /* Safari */
   -khtml-user-select: none;
   /* Konqueror HTML */
   -moz-user-select: none;
   /* Firefox */
   -ms-user-select: none;
   /* Internet Explorer/Edge */
}

/* width */
::-webkit-scrollbar {
   width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: rgba($color: #fff, $alpha: 0.1);
   width: 8px;
   margin: 1px;
   border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: rgba($color: #fff, $alpha: 0.2);
}

// HTML Page Formating
body {
   margin: 0px;
   background-color: $bg-color;
   height: 100vh;
   display: flex;
   flex-direction: column;
   max-width: 100vw;
   @include noSelect();
}

nav {
   display: flex;
   width: 100%;
   border-bottom: rgba(255, 255, 255, 0.2);

   .nav-section {
      padding: 2rem 2rem;
      display: flex;
      gap: 1rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      box-sizing: border-box;
      align-items: center;
   }

   #logo-section {
      flex-grow: 1;
      justify-content: left;

      img {
         height: 3rem;
         width: auto;
         @include noDrag();
         filter: drop-shadow(3px 3px 4px black);
      }
   }

   #socials-section {
      gap: 1rem;
      flex-grow: 5;
      justify-content: right;

      img,
      svg {
         height: 1.25rem;
         width: auto;
         position: relative;
         filter: drop-shadow(1px 1px 2px black);
         @include noDrag();
      }

      a {
         &#coffee > img {
            filter: contrast(0) brightness(100) drop-shadow(1px 1px 2px black);
         }
         &#curseforge > img {
            filter: contrast(0) brightness(100) drop-shadow(1px 1px 2px black);
         }
         &#modrinth > img {
            filter: contrast(0) brightness(100) drop-shadow(1px 1px 2px black);
         }

         color: white;
         position: relative;
         padding: 8px 25px;
         border-radius: 20px;
         z-index: 2;
         transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, filter 0.5s ease-in-out;
         @include noDrag();

         &:hover {
            &#twitter {
               background-color: rgba(29, 161, 242, 0.2);
               color: #1da1f2;
               filter: drop-shadow(0px 0px 3px #1da1f2);
            }
            &#youtube {
               background-color: rgba(255, 0, 0, 0.2);
               color: #ff0000;
               filter: drop-shadow(0px 0px 3px #ff0000);
            }
            &#twitch {
               background-color: rgba(145, 70, 255, 0.2);
               color: #9146ff;
               filter: drop-shadow(0px 0px 3px #9146ff);
            }
            &#github {
               background-color: rgb(128, 128, 128, 0.2);
               color: #fff;
               filter: drop-shadow(0px 0px 3px #fff);
            }
            &#coffee {
               background-color: rgb(255, 221, 0, 0.2);
               filter: drop-shadow(0px 0px 3px);
               & > img {
                  filter: drop-shadow(1px 1px 40px #ffdd00);
               }
            }
            &#curseforge {
               background-color: rgba(255, 165, 0, 0.2);
               filter: drop-shadow(0px 0px 3px orange);
            }
            &#modrinth {
               background-color: rgba(27, 217, 106, 0.2);
               filter: drop-shadow(0px 0px 3px #1bd96a);
               & > img {
                  filter: drop-shadow(1px 1px 2px black);
               }
            }
         }
      }
   }
}

main {
   height: fit-content;
   box-sizing: border-box;
   padding: 4rem;

   a {
      text-decoration: none;
   }

   #cards {
      display: flex;
      max-width: 100vw;
      width: 100%;
      gap: 3rem;
      justify-content: center;
      flex-wrap: wrap;

      .card-container {
         transition: 0.25s transform;
         height: calc(275px * 1.4);
         width: 275px;
         border-radius: 10px;
         margin: 0;
         position: relative;
         filter: drop-shadow(10px 10px 7px black);

         &:hover {
            transform: scale(105%);
         }
      }

      .card {
         border-radius: 10px;
         cursor: pointer;
         height: calc(275px * 1.4);
         width: 275px;
         transition: none;
         position: relative;
         margin: 0;

         &#valorant {
            background: rgb(144, 21, 21);
            background: linear-gradient(135deg, rgba(144, 21, 21, 1) 0%, rgba(129, 21, 21, 1) 25%, rgba(87, 9, 9, 1) 49%, rgba(110, 11, 11, 1) 72%, rgba(162, 37, 37, 1) 100%);
         }

         &#wordle {
            background: rgb(222, 199, 86);
            background: linear-gradient(135deg, rgba(222, 199, 86, 1) 0%, rgba(99, 181, 86, 1) 100%);
         }

         &#timer {
            background: rgb(30, 150, 231);
            background: linear-gradient(90deg, rgba(30, 150, 231, 1) 0%, rgba(0, 76, 139, 1) 100%);
         }

         &#meter,
         &#minesweeper {
            background: rgb(37, 37, 37);
            background: linear-gradient(135deg, rgba(37, 37, 37, 1) 0%, rgba(60, 60, 60, 1) 100%);
         }

         &#nether-coords {
            background: rgb(14, 76, 199);
            background: linear-gradient(135deg, rgba(14, 76, 199, 1) 0%, rgba(79, 71, 179, 1) 25%, rgba(97, 56, 142, 1) 50%, rgba(184, 63, 198, 1) 75%, rgba(219, 11, 195, 1) 100%);
         }

         &#advent-calendar {
            background: rgb(13, 120, 0);
            background: linear-gradient(135deg, rgba(13, 120, 0, 1) 0%, rgba(58, 77, 107, 1) 51%, rgba(124, 0, 0, 1) 100%);
         }

         .card-inner {
            background-color: black;
            border-radius: inherit;
            height: calc(100% - 2px);
            width: calc(100% - 2px);
            margin: 1px;
            top: 1px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            position: relative;
            align-items: flex-end;

            .card-img {
               height: 100%;
               width: auto;
               filter: opacity(0.7);
               position: absolute;
               @include noDrag();
            }

            h1 {
               color: rgb(255, 255, 255, 0.9);
               font-family: "Rubik";
               z-index: 3;
               text-align: center;
               text-shadow: 2px 2px 4px black;
            }
         }
      }
   }
}

@media screen and (max-width: 720px) {
   nav {
      .nav-section {
         padding: 1rem;
      }

      #logo-section {
         flex-grow: 0;
      }

      #socials-section {
         gap: 0.7rem;
         padding: 0;
         justify-content: center;

         a {
            padding: 0.5rem;

            &#twitter {
               background-color: rgba(29, 161, 242, 0.2);
               color: #1da1f2;
               filter: drop-shadow(0px 0px 3px #1da1f2);
            }
            &#youtube {
               background-color: rgba(255, 0, 0, 0.2);
               color: #ff0000;
               filter: drop-shadow(0px 0px 3px #ff0000);
            }
            &#twitch {
               background-color: rgba(145, 70, 255, 0.2);
               color: #9146ff;
               filter: drop-shadow(0px 0px 3px #9146ff);
            }
            &#github {
               background-color: rgb(128, 128, 128, 0.2);
               color: #fff;
               filter: drop-shadow(0px 0px 3px #fff);
            }
            &#coffee {
               background-color: rgb(255, 221, 0, 0.2);
               filter: drop-shadow(0px 0px 3px);
               & > img {
                  filter: drop-shadow(1px 1px 40px #ffdd00);
               }
            }
            &#curseforge {
               background-color: rgba(255, 165, 0, 0.2);
               filter: drop-shadow(0px 0px 3px orange);
            }
            &#modrinth {
               background-color: rgba(27, 217, 106, 0.2);
               filter: drop-shadow(0px 0px 3px #1bd96a);
               & > img {
                  filter: drop-shadow(1px 1px 2px black);
               }
            }

            &:last-child {
               margin-right: 0.5rem;
            }
         }
      }
   }
   main {
      #cards {
         .card-container:last-child {
            margin-bottom: 3rem;
         }

         .minesweeper {
            display: none;
         }
      }
   }
}
