@font-face {
   font-family: "Minecraft";
   src: url("../fonts/MinecraftRegular.otf");
}

html,
body {
   margin: 0px;
   padding: 0px;
   background-color: #000d18;
   color: rgba(255, 255, 255, 0.8);
}

[data-quantity] {
   width: 100%;
   max-width: 10rem;
   padding: 0;
   margin: 0;
   border: 0;
   box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
   font-family: "Minecraft";

   legend {
      display: none;
   }

   input {
      font-size: 18px;
      height: 2rem;
      padding: 0 3rem;
      border: 0;
      background: rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.7);
      font-family: "Minecraft";
      border-radius: 5px;
      transition: all 0.1s ease-in-out;

      text-align: center;
      width: 100%;
      box-sizing: border-box;

      &:focus,
      &:hover {
         outline: none;
         box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff; /* Allows border radius on focus */
         color: rgba(255, 255, 255, 0.85);
      }
   }

   input[type="number"]::-webkit-inner-spin-button,
   input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }

   input[type="number"] {
      -moz-appearance: textfield;
   }

   button {
      position: absolute;
      height: 2rem;
      border: 0;
      width: 3rem;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 5px 0px 0px 5px;
      transition: all 0.25s ease-in-out;
      color: rgba(255, 255, 255, 0.5);

      &.add {
         margin-left: -3rem;
         border-radius: 0px;
         border-radius: 0px 5px 5px 0px;
      }

      &:hover {
         background: rgba(255, 255, 255, 0.2);
      }
   }
}

img {
   &.icon {
      width: auto;
      height: 2rem;
      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;
      margin-top: -4px;
   }
}

div.item_container {
   width: 1030px;
   height: 546px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   margin: 20px;

   .item {
      display: flex;
      justify-content: left;
      align-items: center;
      width: 470px;
      margin: 5px 0px;

      span {
         padding: 0px 10px;
         flex-grow: 1;
         font-family: "Minecraft";
      }
   }
}

div.point_totals {
   margin: 30px 45px;
   .user {
      display: flex;
      justify-content: left;
      align-items: center;
      margin: 10px 0px;
      width: fit-content;

      img {
         height: 2rem;
         width: auto;
      }
      a {
         padding: 0px 10px;
         flex-grow: 1;
         font-family: "Minecraft";
         color: rgba($color: #fff, $alpha: 0.7);
         transition: 0.25s;

         &:hover {
            color: rgba(255, 255, 255, 0.85);
         }
      }
   }
}

div.controls {
   margin: 0px 40px;

   input {
      width: 300px;
      box-sizing: border-box;
      border: 2px solid rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 8px 10px;
      font-family: "Minecraft";
      font-size: 16px;
      transition: all 0.25s ease-in-out;
      color: rgba(255, 255, 255, 0.8);

      &:hover,
      &:focus-visible {
         outline: none;
         border: 2px solid rgba(255, 255, 255, 0.15);
         background-color: rgba(255, 255, 255, 0.15);

         &::placeholder {
            color: rgba(255, 255, 255, 0.6);
         }
      }

      &::placeholder {
         transition: all 0.25s ease-in-out;
         color: rgba(255, 255, 255, 0.4);
      }
   }

   button {
      box-sizing: border-box;
      border: 2px solid rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 8px 20px;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      font-family: "Minecraft";
      font-size: 16px;
      margin-left: 10px;
      color: rgba(255, 255, 255, 0.7);

      &:hover {
         border: 2px solid rgba(255, 255, 255, 0.15);
         background-color: rgba(255, 255, 255, 0.15);
         color: rgba(255, 255, 255, 0.85);
      }
   }
}

div.info_background {
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   background-color: rgba(0, 0, 0, 0.8);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;

   .info {
      width: 90vw;
      height: 90vh;
      z-index: 3;
      background-color: #000d18;
      cursor: default;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      box-sizing: border-box;
      gap: 1rem;
      padding: 20px;

      .item {
         display: flex;
         justify-content: left;
         align-items: center;
         width: 470px;
         margin: 10px;

         span {
            padding: 0px 10px;
            flex-grow: 1;
            font-family: "Minecraft";
         }

         p {
            margin: 0;
            padding: 0;
            line-height: 0;
            font-family: "Minecraft";
         }
      }
   }
}
